<h2><%= @post.title %></h2>
<h4>Tagged: <%= @post.tag_names %></h4>
<h4>Written on: <%= @post.written_at %></h4>

<div class="post-body">
  <%= simple_format(@post.content) %>
</div>

<%= link_to "Posts Index", posts_path %>
<%= link_to "Edit this Post", post_edit_path(@post) %>
